.page-wrapper .page-body-wrapper .page-body {
  min-height: calc(100vh - 188px) !important;
}

.academy-card .card-header {
  background-color: #6c80ff;
}

.module-card .card-header {
  background-color: #feffaa;
}

.academy-logo,
.module-logo {
  width: 190px;
  margin-right: 30px;
}

.study-logo {
  width: 40px;
  margin-right: 20px;
}

.btn-academy {
  background-color: #6c80ff;
  color: #fff;
}

.btn-module {
  background-color: #feffaa;
  color: #555;
}
