.published .img-fluid,
.unpublished .img-fluid {
  height: 165px !important;
}

.published .details-bookmark,
.unpublished .details-bookmark {
  min-height: 100px !important;
}

.card-body .alert ssvg {
  left: 20px !important;
}

.w-0 {
  width: auto !important;
}

.btn-none {
  background-color: transparent !important;
  border: none !important;
}

#dashboard .bookmark-wrap .left-bookmark {
  height: auto !important;
}

.publish-div {
  padding: 0 10px;
  color: white;
  border-radius: 15px;
  background-color: #7366ff;
}

.courses-link.active {
  background: #e5e5e5;
  border-radius: 10px;
}

.file-div {
  background: #eee;
  padding: 13px;
  border-radius: 3px;
  margin-bottom: 3px;
  border: 1px solid #608dff;
  font-weight: bold;
}

.file-div i {
  margin: 0 11px;
  font-size: 20px;
}

.file-switch {
  margin: 0px;
  padding: 0;
  height: 10px;
  margin-top: -6px;
  margin-left: auto;
}

.quiz-div {
  background: #eee;
  border-radius: 7px;
  padding: 16px;
  border: 1px solid #d1d1d1;
}

.quiz-div i {
  font-size: 20px;
  margin: 0 11px;
}

.quiz-switch-state {
  background-color: #555;
}

.answer-area:hover {
  border: 1px solid #ccc;
  border-radius: 3px;
}
