.published .img-fluid,
.unpublished .img-fluid {
  height: 165px !important;
}

.published .details-bookmark,
.unpublished .details-bookmark {
  min-height: 100px !important;
}

.card-body .alert svg {
  left: 20px !important;
}

.w-0 {
  width: auto !important;
}

#dashboard .bookmark-wrap .left-bookmark {
  height: auto !important;
}

.publish-div {
  padding: 0 10px;
  color: white;
  border-radius: 15px;
  background-color: #7366ff;
}
